.Container {
    /* border:1px solid white; */

}

.Row {
    /* border:1px solid white; */
}

.Col {
    /* border:1px solid white; */
    margin-bottom: 15px;
}

.App,
body {
    background-color: darkslategray;
    margin-top: 25px;
    position: relative;

}

.App {
}

.menu {
    position: absolute;
    top:0;
    right: 2%;
    display: flex;
}

.add-button{
    margin-right: 10px;
}


